
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <ul class="nav navbar-nav">
        <!-- //when anyone hit Home we want to go /home .To convey what /home is go in app.module.ts and define import Router
        Module and in imports write routes by RouterModule.ForRoot[]-->
        <li class="active">
            <a routerLink="/home">Home</a>
        </li>
        <li>
            <a routerLink="/aboutus">About us</a>
        </li>
        <li class="active">
            <a routerLink="/register">Register</a>
        </li>
        <li class="active">
            <a routerLink="/contact">Contact</a>
        </li>

        <li *ngIf="!service.Isloggedin()">
                <a routerLink="/login">login</a>
            </li>

        <li *ngIf="service.Isloggedin()">
                <button class="btn btn-warning" (click)="Logout()">Logout</button>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet><!--  //position where you want to see UI generated -->
